/*table, th, td {
    border: 1px solid black;
    padding: 1px;
}*/

ul {list-style-type: none;}
body {font-family: 'Dancing Script', cursive;}

/* subjects */
.subjects {
    margin: 0;
    padding: 0px;
    background-color:#ddd!important;
}table, th, td {
    border: 1px solid black;
    padding: 1px;
}


.subjects li {
    display: inline-block;
    width: 14.28%;
    color: #667;
    text-align: center;
    border: .5px solid gray;
}

/* Dates (1-31) */
.dates {
    background: #eee;
    margin: 0; /*Makes it so that the days of the week section touches the dates section*/
    padding: 0px; /*Makes it so that the days align left with the background box for the dates section*/
    font-size: 0px; /*Makes it so that the wrap around from the in-line block display doesn't result in gaps*/
}

.dates li {
    display: inline-block; /*Wraps around blocks in a line*/
    padding-left: 2px; /*Used here to space the date from the left border*/
    margin-top: -.5px;
    font-size:12px;
    color: #777;
    text-align: left;
    height: 10%;
    width: 3%;
    border: .5px solid gray;
}
