<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>HabitTracker</title>
    <meta name="description" content="HabitTracker">
    <meta name="author" content="M.Boe">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="habitTracker.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>

  <body>

    <div id="app">
      <ul class="subjects">
        <li v-for="subject in subjects">
          {{ subject.text }}
        </li>
      </ul>
      <ul class="dates">
        <li v-for="date in dates">
          {{ date.text }}
        </li>
      </ul>
    </div>
    <script src="habitTracker.js"></script>

<!--
    <table style="width:100%">
     <tr>
       <th>&nbsp</th>
       <th>1</th>
       <th>2</th>
       <th>3</th>
       <th>4</th>
       <th>5</th>
       <th>6</th>
       <th>7</th>
       <th>8</th>
       <th>9</th>
       <th>10</th>
       <th>11</th>
       <th>12</th>
       <th>13</th>
       <th>14</th>
       <th>15</th>
       <th>16</th>
       <th>17</th>
       <th>18</th>
       <th>19</th>
       <th>20</th>
       <th>21</th>
       <th>22</th>
       <th>23</th>
       <th>24</th>
       <th>25</th>
       <th>26</th>
       <th>27</th>
       <th>28</th>
       <th>29</th>
       <th>30</th>
       <th>31</th>
     </tr>
     <tr>
       <td>Sleep</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
     </tr>
     <tr>
       <td>Gym</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
     </tr>
     <tr>
       <td>Water</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
     </tr>
     <tr>
       <td>Thing 1</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
     </tr>
     <tr>
       <td>Thing 2</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
       <td>&nbsp</td>
     </tr>
    </table>
-->
  </body>

</html>
