table, th, td {
    border: 1px solid black;
    text-align: center
}

th {
    background-color: black;
    color: white;
    text-align: center;
}

#Notes_Column, #To_Get_Column {
  font-family: Georgia, serif;
  padding: 2px;
  text-align: left;
  vertical-align: top;
}

@media print {
html,body{height:100%;width:100%;margin:0;padding:0;}
 @page {
	size: A4 landscape;
	max-height:100%;
	max-width:100%
	}
}
